<h4>Show Page</h4>
<div class="grid-assigment">

        <h5 class="grid-label"><%= @assignment.name%></h5>

        <p class="grid-field"><%= @assignment.description%></p>

        <%= link_to "Edit", edit_assignment_path(@assignment), class:"btn grid-button course-button"%>
        <%= link_to "Delete", assignment_path(@assignment), class:"btn grid-assigment-button course-button", method: :delete, data:{confirm: "Are you sure?"}%>
 
</div>