<h1 class="main-header">CodeCore College</h1>

<div>

<h3>Welecome to CodeCore College</h3>
<div class="divSpace"> </div>
<div class="images">
<%= image_tag "webdevelopment.jpg" %>
<%= image_tag "bootcamp.jpg" %>

<%= image_tag "business.jpg" %>
<%= image_tag "fundamental.jpg" %>
</div>
<div class="divSpace"> </div>

<p>
Current Student and instuctor please sign in to continue
</p>
</div>