<h1 class="main-header">CodeCore College</h1>

<div>

<!-- <h3>Welcome to CodeCore College!</h3/> -->
<div class="divSpace"> </div>
<div class="images">
<%= image_tag "webdevelopment.jpg", class:"image"%>
<%= image_tag "bootcamp.jpg", class:"image" %>

<%= image_tag "business.jpg", class:"image" %>
<%= image_tag "fundamental.jpg", class:"image" %>
</div>
<div class="divSpace"> </div>

<p>
Current Students and Faculty please sign in to continue.
</p>
</div>