<h3>Class Details</h3>

<div>
  <h5><%= @course.title%></h5>
</div>

<div>
  <h3>List of All Students</h3>
  <p>Select students from the following list to be added to above class:</p><br />

  <% @students.each do |student| %>

  <% end %>
</div>
