@import url("https://fonts.googleapis.com/css?family=Roboto:900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bitter&display=swap");

html {
  height: 100%;
}
body {
  background: ghostwhite;
  min-height: 100%;
  font-weight: 100;
}
article {
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
}
img {
  max-width: 100%;
}
h1 {
  font-size: 3em;
  color: #cb0d0f;
  text-align: center;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
}
h3 {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  font-weight: 200;
  margin-bottom: 1em;
}
h5 {
  font-size: 1.2em;
  font-weight: 700;
}
.radio {
  color: #cb0d0f;
  background: #880608;
}
.icon {
  width: 125px;
}
.nav-bar {
  display: flex;
  flex-direction: column;
  color: ghostwhite;
  background: #cb0d0f;
  
  min-height: 100vh;
  padding: 0.5em 0.5em;
  justify-content: space-between;
  margin-right: 1em;
  min-width: 140px;
}
.nav-user {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.nav-general {
  display: flex;
  flex-direction: column;
  height: 100px;
}
.nav-item {
  padding: 0.5em;
  text-decoration: none;
}
.nav-item:visited {
  color: ghostwhite;
  text-decoration: none;
}
.nav-item:hover {
  border-left: 5px solid ghostwhite;
  padding-left: 0.1em;
}
.admin-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: ghostwhite;
  background: #cb0d0f;
  padding: 0.5em;
}
.user {
  font-weight: 600;
  font-size: 1.1em;
  padding: 0.5em;
}

.content {
  flex: 1;
  padding: 0.5em;
}
.main-header {
  height: 150px;
}
.images {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #cb0d0f;
  padding: 1em;
}
.image {
  max-width: 20%;
}
.divSpace {
  height: 50px;
}
.divSpace-small {
  height: 25px;
}
.form {
  display: grid;
  grid-template-columns: 150px 100px 150px;
  grid-gap: 10px;
  width: 600px;
}
.grid-label {
  grid-column: 1/2;
}
.grid-field {
  grid-column: 2/4;
  font-size: 0.8em;
}
.grid-button {
  grid-column: 3/4;
}
.grid-button-2 {
  grid-column: 2/3;
}
.grid-dropdown {
  grid-column: 2/4;
  font-size: 0.8em;
  background: white;
}
.grid-row-label {
  grid-row: 5/7;
}
.grid-row-field {
  grid-row: 6/7;
}
.grid-row-button {
  grid-row: 7/8;
}
.grid-course {
  display: grid;
  grid-template-columns: auto 150px;
  grid-gap: 10px;
  width: 600px;
}
<<<<<<< HEAD
.grid-course-item{
  padding: .25em;
=======
.grid-course-item {
  padding: 0.25em;
>>>>>>> origin/development
}
.grid-course-header {
  padding: 0.25em;
  font-size: 1.2em;
  font-weight: 500;
}
.grid-background {
  background: #cb0d1049;
}
.grid-program {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-gap: 10px;
  width: 600px;
}
.grid-program-item {
  grid-column: 2/4;
}
.grid-program-button {
  grid-column: 2/3;
}
.grid-filter {
  display: grid;
  grid-template-columns: 150px 150px 125px;
  grid-gap: 10px;
  width: 600px;
}
.grid-mark {
  display: grid;
  grid-template-columns: 150px 250px 250px;
  grid-gap: 10px;
  width: 600px;
}
.program-link {
  text-decoration: none;
  color: black;
  text-align: center;
}
.form-edit {
  display: grid;
  grid-template-columns: 150px 125px 150px auto;
  grid-gap: 10px;
}
<<<<<<< HEAD
.grid-colum-4{
  grid-column: 4/7;
}
.grid-form-edit{
=======

.grid-form-edit {
>>>>>>> origin/development
  grid-column: 4/5;
}
.form-password {
  display: grid;
  grid-template-columns: 250px 100px 150px;
  grid-gap: 10px;
  width: 600px;
}
.grid-assigment {
  display: grid;
  grid-template-columns: 200px auto 125px 125px;
  grid-gap: 10px;
}
.grid-assigment-button {
  grid-column: 4/5;
}
.textarea {
  min-height: 150px;
}
.btn {
  font-family: "Bitter", serif;
  border: 1px solid #cb0d0f;
  border-radius: 10px;
  background: transparent;
  padding: 0.25em 0.5em;
  font-size: 0.75em;
  text-align: center;
}
.btn-edit {
  font-family: "Bitter", serif;
  border: 1px solid #cb0d0f;
  border-radius: 10px;
  background: transparent;
  padding: 0.25em 0.5em;
  font-size: 0.75em;
  text-align: center;
  width: 125px;
}
.btn:hover {
  background: #cb0d105d;
  transition: 0.5s;
}
.user-div {
  display: grid;
  grid-template-columns: 150px 150px 150px auto;
  grid-gap: 15px;
}
.grid-course-show {
  display: grid;
  grid-template-columns: 150px 150px 150px  200px  200px auto;
  grid-gap: 15px;
}
.user-pic {
  grid-column: 1/3;
  grid-row: 1 / span 10;
  width: 300px;
  border: 2px solid #cb0d0f;
  border-radius: 15px;
  padding: 0.25em;
}
.grid-course {
  grid-column: 4/5;
}
.grid-user-info {
  grid-column: 4/5;
}
.grid-user-label {
  grid-column: 3/4;
}
.grid-password {
  color: #cb0d0f;
  text-decoration: none;
  grid-column: 1/3;
}
.grid-password:hover {
  color: #880608;
}

.table-checkbox{
  margin: 0 auto;
}

.user-table {
  width: 90%;
}
.user-table th,
.user-table td {
  padding: 0.25em 0.5em;
  text-align: left;
}

.user-table tr:nth-child(even) {
  background: #cb0d1049;
}

.user-table th {
  font-size: 1.2em;
  font-weight: 500;
  background:#cb0d0f;
  color: ghostwhite;
}
.user-link {
  text-decoration: none;
  color: black;
}
.course-button {
  color: black;
  text-decoration: none;
  font-size: 0.75em;
  padding: 0.5em 0.75em;
}
.course-link {
  text-decoration: none;
  color: black;
  font-size: 1em;
}
.date{
  border: none;
  background: transparent;
  font-size: .8em;
}
.list{
   border: none;
  background: transparent;
  font-size: .8em;
}
.header{
  font-size: 1.2em;
  font-weight: 500;
  background:#cb0d0f;
  color: ghostwhite;
}